/* src/index.css OR src/App.css */
.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #25D366;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px #999;
    transition: 0.3s;
  }
  
  .whatsapp_float:hover {
    background-color: #128C7E;
  }
  